.container{
	width: 1170px;
	margin: 0 auto;
}
.clear{
	clear: both;
}
ul li{
	list-style-type: none;
}
.header_container{

	background-color:grey;
	padding-bottom: 7.5px;
	padding-top: 7.5px;

}
.header {
	width: 1170px;
	margin: 0 auto;
}
.header ul{
	text-align: center;
}
.logo{
	text-align: center;
	margin-right: 17.5px;
    margin-left: 17.5px;
	float: left;
	height: 35px;
	width: 140px;
	background-color:#ff8000;
	line-height: 35px;
}
.header ul li{
	display: inline-block;
	font-size: 18px;
	margin-right: 17.5px;
	
	line-height: 35px;
}
.header ul li a{
	color:#aaaaaa;
	text-decoration: none;
}
.banner {
	height: 485px;
	background-color:#71c4ea;
}
.content{
	text-align: center;
}
.content_heading{
	font-size: 34px;
	margin-top: 62px;
	line-height: 38px;
	margin-bottom: 68px;
	font-weight: bold;
}
.circle_container{
	display: inline-block;
}
.content ul li{
	float: left;
	margin-left: 37.5px;
	margin-right: 37.5px;
}
.circle{
	height: 140px;
	width: 140px;
	border-radius: 140px;
	background-color:#efefef;
	margin:auto;
}
.text{
	margin-top: 10px;
	font-size: 18px;
	color: #888888;
	width: 170px;
}
.footer{
	background-color:#ececec;
	text-align: center;
	margin-top: 100px;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
}
.footer ul{
	display: inline-block;
}
.footer ul li{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
}
.footer ul li a{
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: #ff8000;
}
.home_btn:active{
	color: #444444;
}
.footer ul li a:hover{
	color: #444444;
}