.clear{
	clear: both;
}
ul {
	padding: 0px;
	margin: 0px;
}
.nav-links .form .form-group{
	display: inline-block;
	margin: 0px;
}
.logo {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
}
.nav-links ul li{
	line-height: 34px;
	list-style: none;
	float: left;
	margin-right: 10px;
	border-left:1px solid black;
}
.navbar-nav > li > a{
	padding-top: 5px;
	padding-bottom: 5px;
}
.navbar-nav{
	padding-top: 3px;
	padding-bottom: 3px;
}
.nav-links ul li a{
	font-size: 15px;
	color: white;
	font-style: italic;
	font-family: georgia;
	padding-right: 5px;
}
.nav-links{
	background-color:#3355aa;
}
.nav > li > a:hover, .nav > li > a:focus{
	background-color : transparent;
}
.nav-links ul{
	float: left;
}
.last-child {
	border-right: 1px solid black;
}
.nav-links .form {
	padding-top: 3px;
	float: right;
}
.navbar {
	margin-bottom: 35px;
}
.nav-links .form .btn{
	color: white;
	background-color:#546eb1; 
}

.content .container .row .col-sm-6{
	box-shadow: 0px 1px 2px grey;
	padding: 10px;
}
.banner img{
	width: 100%;
}
.banner-description {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: center;
}
.banner-description p{
	font-size: 14px;
	font-style: italic;
	font-family: georgia;
	color: #222222;
}
.heading {
	font-size:16px;
	color:#3355aa;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 2px solid yellow;
}
.text{
	font-size: 13px;
	font-family: Georgia;
	color: #222222;
}
.text-description {
	font-size: 13px;
	font-family: Georgia;
	color: #222222;
	margin-top: 40px;
	margin-bottom: 60px;
}
.sector-description{
	margin-top: 45px;
	background-color:#ececec;
	margin-left: -15px;
	margin-right: -15px;
}
.sector-heading{
	margin-top: 19px;
	text-align: center;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 19px;
}
.posting-time {
	font-size: 10px;
}
.col-wrap{
	padding: 5px;
	background-color: white;
	box-shadow: 0px 1px 2px grey;
	margin-bottom: 75px;
	border-radius: 8px;
}
.navbar-toggle .icon-bar {
	background-color: white;
}
.card {
	background-color: #bfbdb3;
	height: 250px;
}
.card-description {
	margin: 0 auto;
	font-size: 16px;
	font-family: Georgia;
	color: #3355aa;
	width: 140px;
	text-align: center;
}
.footer {
	background-color: #333333;
}
.footer-nav{
	padding-top: 13px;
}
.footer-nav ul{
	float: left;
}
.footer-nav ul li{
	list-style: none;
	float: left;
	margin-right: 10px;
	border-right: 1px solid lightgrey;
}
.footer-nav ul li a{
	font-size: 14px;
	color: lightgrey;
	padding-right: 5px;
}
.footer-nav-2 ul {
	float: right;
}
.footer-nav-2 ul li
{
	list-style: none;
	float: left; 
	margin-right: 10px;
	border-right: 1px solid lightgrey;
}
.footer-nav-2 ul li a{
	font-size: 11px;
	color: lightgrey;
	padding-right: 5px;
}
.footer-nav-3 p{
	font-size: 11px;
	color: lightgrey;
	margin-bottom: 0px;
}
.footer-nav-3 {
	margin-top: 10px;
	margin-bottom: 35px;
}
.uppar-footer {
	padding-bottom: 10px;
	border-bottom: 1px solid #3d3d3d;
}